@import './var.scss';

body {
    font-family: $font-family-page;
    text-decoration: none;

}

body,html{
    overflow-x:hidden ;
    scroll-behavior: smooth;
}

p{
    font-size: calc($font-size-text*1.4);
}