//colors
$primary-color:#FFEF82;
$secondary-color:#EFD345;
$tertiary-color:#BABD42;
$quaternary-color:#82954B;

//fonts
$font-size-text:1em; 
$font-size-title:3em;
$font-size-subtitle:4em;
$font-family-page:'Roboto', sans serif;
$font-weight-text:300;
$font-weight-title:bold; 