@media(max-width:1132px) {
    .grid-prod {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media(max-width:718px) {
    .grid-prod {
        grid-template-columns: 0.5fr;

    }
}

@media(max-width:1558px) {
    .grid-prod {
        grid-template-columns: repeat(3, 1fr);

    }

    .footer__icons {
        flex-direction: column;
    }
}

@media(max-width:1126px) {
.grid-prod{
    grid-template-columns: repeat(2,1fr);
}
}

@media(max-width:724px) {
    .grid-prod{
        grid-template-columns: 0.5fr;
    }
    }