@import '../../assets/var.scss';

/*refatorar*/
.img-prod {
    /* border: 1px solid #C4C4C4; */
    width: 18em;
    height: 23em;
    box-sizing: border-box;

    &:hover {
        transform: scale(0.97);
        transition: 0.5s all;
        border-left: 1px solid rgba(#00000023, 0.9);
        border-right: 1px solid rgba(#00000023, 0.9);
    }
}


.boxModel {
    box-sizing: border-box;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 22em 1em 1em 3em;
    align-items: center;
    row-gap: 1%;
    width: 26em;
    height: 30em;
    padding: 4em;
    padding-top: 0;
    margin-bottom: 4em;
    margin-top: 4em;
    
    &:hover {
        transition: 0.2s all;
        transform: scale(1.1);
    }
    
}

.desc-button {
    width: 100%;
    height: 100%;
    background-color: $tertiary-color;
    
    &:hover {
        color: white;
        cursor: pointer;
    }
    
}

.div-image-buttons {
    box-sizing: border-box;
    width: 285px;
    // height: 180px;
    
}

div.div-image-buttons>img {
    box-sizing: border-box;
    border: 1px solid #C4C4C4;
    border-radius: 1%;
    padding: 4%;
    transition: 1s all;
}

div.div-image-buttons>img:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}





.product__view {
    font-weight: 400;
    font-size: calc($font-size-text/1.1);
    
    &--name,
    &--price {
        margin: 0;
    }
    
    &--name {
        color: black;
        margin-top: 2em;
    }
    
    &--price {
        color: #666666;
    }
}

.grid-prod {
    display: grid;
    grid-template-columns: repeat(4, 0.2fr);
    grid-template-rows: 26em;
    align-items: center;
    justify-content: center;

}

@import './Products.responsive.scss';



