@import '../assets/var.scss';
@import '../assets/base.scss';
@import '../components/Slogan/Slogan.module.scss';
@import  '../components/Header/Header.module.scss';
@import '../components/Navbar/Navbar.module.scss';
@import '../components/SearchBar/SearchBar.module.scss';
@import '../components/Footer/Footer.module.scss';

%section-image{
    background-position: 50% 45% !important;
    background-size: contain !important;
    height: 180px;
    margin-bottom: 20px;
    border-radius: 1%;
    height: 347px;
    width: 434px;
}

.main__subtitle {
    &--first,
    &--second {
        margin-bottom: 2em;
        font-size: 2em;
        font-weight: 600;
    }

    &--third,
    &--fourth {
        font-size: 2em;
        font-weight: 600;
        margin-top: 2em;
    }
    &--third{
        margin-bottom: 0;
    }

    &--fourth {
        margin-top: 0;
    }
}

.article {
    display: grid;
    grid-template-columns: 3fr 1.2fr 1fr;
    column-gap: 30px;
    margin-bottom: 3em;
    padding: 1%;
    p {
        margin: 20px 0px 20px 0px;
        width: 96%;
    }

    &--left {
        height: 320px;

        img {
            width: 95% !important;
            height: 519px;

        }
        img:hover{
            cursor: pointer;
        }

    }

    &--right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        p::nth-child(1) {
            margin-top: 0;
            margin-bottom: 130px;
        }

    }
}

.article__middle--top {
    img {
        margin-bottom: 20px;
        @extend %section-image;
    }
    img:hover{
        cursor: pointer;
    }

}

.article__middle--bottom {
    img {
        @extend %section-image;
    }
    img:hover{
        cursor: pointer;
    }

}
/*refatorar*/
.img-prod {
    /* border: 1px solid #C4C4C4; */
    width: 18em;
    height: 23em;
    box-sizing: border-box;

    &:hover {
        transform: scale(0.97);
        transition: 0.5s all;
        border-left: 1px solid rgba(#00000023, 0.9);
        border-right: 1px solid rgba(#00000023, 0.9);
    }
}

.grid-prod {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 26em;
    align-items: center;
    justify-content: center;

}

.boxModel {
    box-sizing: border-box;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 22em 1em 1em 3em;
    align-items: center;
    row-gap: 1%;
    width: 26em;
    height: 30em;
    padding: 4em;
    padding-top: 0;
    margin-bottom: 4em;
    margin-top: 4em;

    &:hover {
        transition: 0.2s all;
        transform: scale(1.1);
    }

}

.desc-button {
    width: 100%;
    height: 100%;
    background-color: $tertiary-color;

    &:hover {
        color: white;
        cursor: pointer;
    }

}

.div-image-buttons {
    box-sizing: border-box;
    width: 285px;
    // height: 180px;

}

div.div-image-buttons>img {
    box-sizing: border-box;
    border: 1px solid #C4C4C4;
    border-radius: 1%;
    padding: 4%;
    transition: 1s all;
}

div.div-image-buttons>img:hover {
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

.background-bag {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 42px;
    justify-content: center;
    width: 285px;
    border-radius: 1%;
    margin-top: 6em;

    button {
        background-color: $tertiary-color;
        border: none;
        font-size: 15px;
        color: white;

    }

    & button:hover {
        color: black;
        cursor: pointer;
    }

    img {

        justify-self: center;
        align-self: center;
        padding: 0 2% 2% 0;
    }

    p {
        align-self: center;
        justify-self: flex-end;
    }
}

.shopping-cart {
    background-image: url("../../../public/images/shopping-bag.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}




.product__view {
    font-weight: 400;
    font-size: calc($font-size-text/1.1);

    &--name,
    &--price {
        margin: 0;
    }

    &--name {
        color: black;
        margin-top: 2em;
    }

    &--price {
        color: #666666;
    }
}



@import './responsive-index.module.scss';
