



@media screen and (max-width:1442px) {

    .article{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2,2fr);
    }
    .article--middle {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .article__middle--top {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            height: 285px;
            width: 469px;
        }
    }

    .article__middle--bottom {
        display: flex;
        align-items: center;
        flex-direction: column;
        img{
            width: 454px;
        }
    }

}
@media screen and (max-width:988px) {

    .article--middle{
       flex-direction: column;
    }
    
}