@import '../../assets/var';

%logo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: auto;
    padding: 1%;

    p,
    h1 {
        font-size: $font-size-title;
        font-weight: $font-weight-title;
        margin: auto 0 auto 0;
    }

    small {
        font-size: $font-size-text;
        font-weight: $font-weight-text;
        padding-bottom: 1em;
    }
}

.header__logo {
    @extend %logo;
}

.footer__logo {
    @extend %logo;
    align-items: flex-start;
}

.header__logo--index {
    text-decoration: none;
    color: inherit
}

.logo--right {
    justify-self: right;
    align-self: flex-end;
}