@import '../../assets/var.scss';

.background-bag {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 42px;
    justify-content: center;
    width: 285px;
    border-radius: 1%;
    margin-top: 6em;

    button {
        background-color: $tertiary-color;
        border: none;
        font-size: 15px;
        color: white;

    }

    & button:hover {
        color: black;
        cursor: pointer;
    }

    img {

        justify-self: center;
        align-self: center;
        padding: 0 2% 2% 0;
    }

    p {
        align-self: center;
        justify-self: flex-end;
    }
}

.shopping-cart {
    background-image: url("../../../../public/images/shopping-bag.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
