@import '../../assets/var';
.slogan {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background: linear-gradient(to bottom, $quaternary-color, $tertiary-color);
    height: 19em;
    width: 100%;
    border-radius: 1%;
    margin-top: 4em;
}

.slogan--text {
    display: flex;
    justify-self: center;
    align-self: flex-end;
    width: 65%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;

    .normal {
        padding-top: 5%;
        letter-spacing: 0.2em;
    }

    .justify {
        letter-spacing: 1em;
    }
}



.slogan__text {
    font-size: 1.6em;
    font-weight: 300;
    display: inline-block;
    text-align: justify;
    margin-bottom: 0;
    margin-top: 50px;
  }
  .slogan__text::after {
    content: "";
    display: inline-block;
    width: 100%;
  }

  @import './Slogan.responsive.scss';