@import '../../assets/var';
@import '../../assets/base';

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 0;
    padding: 1%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, $quaternary-color, $tertiary-color);
    list-style: none;
}
.navbar {
    justify-content: space-around;
    align-items: center;
    padding: 1%;
    font-size: 18px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    &--link:hover {
        border: solid 1px #E5E5E5;
        box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.20);
        transition: 1s border;
        transform: scale(0.9);
    }
}

.navbar__link {

    text-decoration: none;
    color: black;
    font-weight: $font-weight-text;
    font-size: $font-size-text;


}

